.vscode/
.DS_Store
node_modules/
.idea

/.cache
/build
/server-build
/public/build
/coverage
tsconfig.tsbuildinfo

/app/styles/**/*.css
styles/**/*.css
other/postcss.ignored

/cypress/videos
/cypress/screenshots
*.local.*

.env*
.env.production
.envrc
